{% extends "base.html" %}

{% block content %}
<h1>Список исполнителей</h1>
        <table class="table">
            <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Пол</th>
            <th scope="col">Дата рождения</th>
            {% if user.is_authenticated %}
            <th scope="col">Действия</th>
            {% endif %}
            
          </tr>
        </thead>
        <tbody>

            {%for person in persons %}
            <tr>
                <th scope="row">{{person.artist_id}}</th>
                <th scope="row">{{person.first_name}}</th>
                <th scope="row">{{person.second_name}}</th>
                <th scope="row">{{person.sex}}</th>
                <th scope="row">{{person.birthday}}</th>
                {% if user.is_authenticated %}
                <th scope="row"><a href="{% url 'change_person' person_id=person.artist_id %}"><button class="btn btn-primary">Изменить данные</button></a></th>
                {% endif %}
                
            {% endfor %}
    
          </tr>
        </tbody>
    </table>
    {% if user.is_authenticated %}
     <a href= "{% url 'new_person' %}" ><button type="text" class="btn btn-lg btn-primary ">Зарегистрировать нового артиста</button></a>
    {% endif %}
    {% endblock %}