{% extends "base.html" %}

{% block content %}
        <table class="table">
            <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Название страны</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>

            {%for e in countres%}
            <tr>
                <th scope="row">{{e.country_id}}</th>
                <th scope="row">{{e.country_name}}</th>
                <th scope="row"> <a href="{% url 'main' id=e.country_id %}">  <button type="button"class="btn btn-secondary">Подробнее</button> </a> </th>
            {% endfor %}
    
          </tr>
        </tbody>
    </table>
  
    {% endblock %}