{% extends "base.html" %}

{% block content %}
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Идентификатор</label>
        <input type="text" class="form-control" value="{{countres.country_id}}" aria-describedby="emailHelp" disabled>
        <div id="emailHelp" class="form-text">Идентификатор уникален, задавать вручную запрещено</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Название города</label>
        <input type="text" class="form-control" value="{{countres.country_name}}" id="exampleInputPassword1">
      </div>

      <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
    </div>
    {% endblock %}