{% extends 'base.html' %}
{% load static %}
{%block lib%} 
<link href="{% static 'sign_in.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}

{% if error_msg %}
<div class="alert alert-danger" role="alert">
    {{error_msg}}
</div>
{%endif%}

{% if check_block %}
{{check_block}}
{% endif %}

<div class="row">
    <div class="col-md-6">
        <form action="{% url 'new_person' %} " method="POST" class="form-signin">
    {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Введите данные</h1>
            <input name="first_name" class="form-control"  placeholder="Введите имя" required>
            <input name="second_name" class="form-control"  placeholder="Введите фамилию" required>
            <div class="form-group">
                <label for="sel1">Около какого метро вы проживаете?:</label>
                <select class="form-control" name="sex" id="sel1" >
                  <option value ="male" >male</option>
                  <option value ="female" >female</option>
                </select>
              </div>
            <button type="submit" class="btn btn-lg btn-primary ">Зарегистрироваться</button>
        </form>
    </div>
    <div class="col-md-6 " style="margin-top: 15px;">
    
    </div>
</div>


{% endblock %}